language: go
go:
  - "1.11"
services:
  - docker
before_install:
  - docker run -d -p 9000:8000 amazon/dynamodb-local
  - go get github.com/mattn/goveralls
  - make deps
script:
  - make
  - $GOPATH/bin/goveralls -service=travis-ci